<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johanna.favoritirepris" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/loggan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KaffeKort"
            android:label="@string/title_activity_kaffe_kort" >
        </activity>
        <activity
            android:name=".HittaHit"
            android:label="@string/title_activity_hitta_hit" >
        </activity>
        <activity
            android:name=".HelveteKaffe"
            android:label="@string/title_activity_helvete_kaffe" >
        </activity>
        <activity
            android:name=".Oppettider"
            android:label="@string/title_activity_oppettider" >
        </activity>
        <activity
            android:name=".Kontakt"
            android:label="@string/title_activity_kontakt" >
        </activity>
    </application>

</manifest>
